footer {
    position: fixed;
    bottom: 0;
    background-color: #21366b;
    padding: 1rem;
    width: 100%;
    color: white;

    // Hide on mobile screens
    @media (max-width: 767px) {
        display: none;
    }
}

a {
    color: white;
    text-decoration: none;
}

span {
  font-family: "Montserrat Light", sans-serif;
  font-size: 10pt;
}
